{% for ser in services %}
<tr>
   <td>{{ ser.name }}</td>
    <td>{{ ser.description }}</td>
    <td>
        {% if ser.icon %}
            <img src="{{ ser.icon.url }}" alt="{{ icon.title }}" style="width: 50px; height: 50px;">
        {% else %}
            <span class="text-muted">No Image</span>
        {% endif %}
    </td>
    
     <!-- edit -->
     <td>
        <button class="icon-btn edit-btn" title="Edit"
                data-id="{{ ser.id }}"
                data-name="{{ ser.name }}"
                data-description="{{ ser.description }}"
              
                {% if ser.icon %}
                    data-icon="{{ ser.icon.url }}"
                {% else %}
                    data-icon="" 
                {% endif %}>
        <i class="fas fa-pen text-primary"></i>
        </button> 
</td>

<!-- delete -->
 <td>
        <button class="icon-btn delete-btn" title="Delete"
            data-id="{{ ser.id }}">
            <i class="fas fa-trash text-danger"></i></button>
</td>

</tr>
{% empty %}
<tr>
    <td colspan="4" class="text-center">No record available.</td>
</tr>
{% endfor %}

 <!-- name = models.CharField(max_length=100)
    icon=models.ImageField(upload_to="pics/",blank=True,null=True)
    description = models.TextField() -->