{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <button type="button" id="add_service_btn" class="btn btn-secondary btn-lg">Add Service</button>
        <h1 class="text-centre">Register Service</h1>
        <!--  Form -->
        <form method="post" id="serviceForm" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" id="service_id" name="service_id">
                <label for="service_name">Name:</label>
                <input type="text" class="form-control" id="service_name" name="service_name">
                <div id="name_error"></div>
            </div> <br>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                <div id="description_error"></div>
            </div>
            <br>
            <div class="form-group">
                <label for="image">Icon:</label>
                <input type="file" class="form-control" id="icon" name="icon" accept="image/*">
                <img id="imagePreview" src="" alt="Preview" style="max-width: 100px; display: none; margin-top: 5px;">
                <div id="image_error"></div>
            </div>
            <br>
           
            <button id="service_register_btn" class="btn btn-success">Submit</button>
        </form>


         <!-- Acknowledge Message -->
        <div id="acknowledge"></div>

    <hr>

    <!-- Stream List Table -->
        <h2 class="mb-4">Service List</h2>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Icon</th>
                    <th>EDIT</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="serviceList">
                {% if initial_load %}
                    {% include 'partials/service_rows.html' %}
                {% endif %}
            </tbody>
        </table>



    </div>
{% endblock %}
