  <!-- Sidebar -->
  <div class="sidebar d-flex flex-column p-3">
    <h3 class="text-white mb-4">Admin Panel</h3>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link text-white">
          <i class="bi bi-house"></i> Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <i class="bi bi-people"></i> Users
        </a>
      </li>
      <li>
        <a href="{% url 'view_service' %}" class="nav-link text-white">
          <i class="bi bi-box-seam"></i> Services
        </a>
      </li>
       <li>
        <a href="" class="nav-link text-white">
          <i class="bi bi-box-seam"></i> Providers
        </a>
      </li>
      <li>
        <a href="" class="nav-link text-white">
          <i class="bi bi-box-seam"></i> Bookings
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <i class="bi bi-gear"></i> Settings
        </a>
      </li>
    </ul>
    <hr>
    <a href="#" class="nav-link text-white">
      <i class="bi bi-box-arrow-right"></i> Logout
    </a>
  </div>